body {
    width: auto;
    height: auto;
    padding: 0;
    margin: auto;
    font-family: 'Roboto', sans-serif;

}

header {
    margin-bottom: 10vh;
    padding-top: 2vh;
    font-weight: 100;
    font-size: .9rem;
    font-family: 'Source Code Pro', monospace;
    background-color: #0a112c;


}

#nav {
    float: right;
}

#nav ul li {
    list-style: none;
    float: left;
    padding-right: 2vw;
}

#nav li a {text-decoration: none;  color: #ffffff;}
#nav li a:hover {color: rgb(0, 99, 248); }

:root {
    --main-bg: rgb(0, 67, 106);
    --main-bg1: rgb(3, 74, 139);
    --main-bg2: rgb(0, 125, 166);
    --main-bg3: rgb(0, 173, 226);
} 
   

#tafels {
    margin-left: 4vw;
    background: var(--main-bg2);
    width: 20vw;
    height: 50vh;
    margin-bottom: 5vw;
    box-shadow: 1px 25px 30px 1px rgba(0,0,0,1);
    -webkit-box-shadow: 1px 25px 30px 1px rgba(0,0,0,1);
    -moz-box-shadow: 1px 25px 30px 1px rgba(0,0,0,1);

}

#tafel1 {
    padding-left: 5vw;
    padding-top: 2vh;
}

