html {
    background-image: linear-gradient(to bottom, #000000, rgb(0, 67, 106), rgb(3, 74, 139),#007da6, #00ade2); 
    height: 100%;   

}

body {
    width: auto;
    height: auto;
    padding: 0;
    margin: auto;
    font-family: 'Roboto', sans-serif;

}

a {
    color: #000;
  }
  
  /* header */
  
  .header {
    background-color: #0a112c;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #0a112c;  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
  }
  
  .header li a:hover
 {
    color: rgb(0, 99, 248);  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: none;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }



:root {
    --main-bg: rgb(3, 61, 95);
    --main-bg1: rgb(5, 83, 156);
    --main-bg2: rgb(3, 145, 192);
    --main-bg3: rgb(0, 173, 226);
}

#main-1 {padding-top: 25vh;}


#flex1 {
    display: flex;
}
   

#tafels {
    margin-left: 4vw;
    background: var(--main-bg);
    width: 25vw;
    height: 60vh;
    margin-bottom: 5vw;
    box-shadow: 1px 25px 30px 1px rgba(0,0,0,1);
    -webkit-box-shadow: 1px 25px 30px 1px rgba(0,0,0,1);
    -moz-box-shadow: 1px 25px 30px 1px rgba(0,0,0,1);

}

#tafel1 {
    padding-left: 5vw;
    padding-top: 2vh;
}

#machts {
    margin-left: 4vw;
    background: var(--main-bg);
    width: 25vw;
    height: 60vh;
    margin-bottom: 5vw;
    box-shadow: 1px 25px 30px 1px rgba(0,0,0,1);
    -webkit-box-shadow: 1px 25px 30px 1px rgba(0,0,0,1);
    -moz-box-shadow: 1px 25px 30px 1px rgba(0,0,0,1);

}

#macht1 {
    padding-left: 5vw;
    padding-top: 2vh;
}

